/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --bg-color: #fff;
  --text-color: #000;
  --accent-color: #000;
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  --text-weight: 400;
  --title-weight: 785;
  --content-gap: 25px;
  --card-gap: 50px;
  --width-clamp: clamp(375px, 100%, 700px);
  --bg-gradient:
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --hover-fill-color: #000;
  --label-stroke-color: #fff;
  --button-text-color: #fff;
}

@media (width <= 375px) {
  :root {
    --card-gap: 50px;
  }
}
